{% extends 'base.html' %}

{% block content %}
    <div class="parent_display_container">
        
        <div class="bot_display_section">
            <div class="bot_app">
                <div class="bot_app_screen">
                    <img id="botScreenBig" class="bot_screen" src="" alt="Bot Screen">
                </div>
                <h5 id="botHeader" class="bot_header">Bot Header</h5>
                <div id="botInfoDisplay" class="bot_app_button_stack">

                </div>

                <div id="botButtonStackBig" class="bot_app_button_stack">
                    <!-- Buttons will be populated here by JavaScript -->
                </div>
                <div id="botButtonStackMiddle" class="bot_app_button_stack">
                    <!-- Scan Camera -->
                </div>
                <div id="botButtonStackContact" class="bot_app_button_stack">
                    <!-- Contact section -->
                </div>

                <div id="botNavigation" class="bot_app_button_stack">

                </div>
                
                
            </div>
        </div>

        <div class="large_display_section">
            
            <div id="itemCardContainer" class="item_card_container">
                <div class="top_back_btn_layer">
                    <button class="top_back_btn ">
                        <div class="row">
                            <div class="col-4">
                                <span class="type_label"><i class="fa-solid fa-arrow-left"></i></span>
                            </div>
                            <div class="col-8">
                                <span class="type-label">Back</span>
                            </div>
                            
                        </div>
                    </button>
                </div>

                <!-- Item cards will be populated here by JavaScript -->
            </div>
        </div>
        
        
        

    </div>

{% endblock content %}

